$red: rgba(65, 255, 0, 0.8);

@mixin flex-style {
  display: flex;
  flex-direction: column;
}

@mixin color-handler($color) {
  display: flex;
  flex-direction: column;
  color: $color;
}

.App {
  @include flex-style;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  @include color-handler(white);
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  p {
    color: $red;

    :hover {
      color: yellow;
    }
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
